/*bantuan*/
.center{
    text-align: center;
    text-transform: capitalize;
}
.left{
    text-align: none;
}
.top {
    margin-top: 15px;
}
.bawah {
    margin-top: 20px;
    border-top: 1px solid #ecf0f5;
}
.spasi{
    margin-top: 50px;
}
.batas{
    margin-top: 10px;
}
.btn{
    border-radius: 0px;
    width: 100%;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*navigation bar*/
.bg_header{
    /*background: blue;*/
    background: #02b4a8;
    height: 80px;

}
.header-sidebar{
    min-width: 100%;
    height: 80px;
    /*background: red;*/
    background: #02b4a8;  
}

.navbar-brand > img{
    height: 18px;
}
.navbar-brand{
    margin-top: 13px;
    margin-bottom: 13px;
    padding-bottom: 12px;
    font-size: 20px;
}

.navbar{
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 14px;
    border-radius: 0px;
}

.navbar-toggle{
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0;
}

.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

/*style sidebar-nav*/
.nav-pills{
    background: #ffffff;
/*   background: blue;
*/}

.nav-pills:hover{
    background: #ffffff;
}
.nav-stacked > li > a{
    color: #02b4a8;
}
.nav-stacked > li > a:hover{
    background:#ffffff; 
    color: #01b2a6;
    margin-left: 5px;
}
.nav-stacked > li > a:focus{
    background:#ffffff; 
    color: #01b2a6;
}

/*style content */
.breadcrumb{
    border-radius: 0px; 
}

.bg-content{
    display: inline-block;
    width: 100%;
    min-height: 500px;
    padding: 10px;
    /*background: green;*/
    /*background: #ecf0f5;*/
    border-left: 1px solid #ecf0f5;
}
.content{
    /*background: #ecf0f5;*/
    /*background: yellow;*/
    min-height: 250px;
    border-radius: 5px;
    border-top: 3px solid #02b4a8;
    margin-top: 10px;
    background: #ecf0f5;
    color: #969696;
}
.ctnfrom{
    padding: 10px;
}

/*footer*/
.bg_footer{
    background: #293a49;
}
address{
    color: #ffffff;
    padding: 30px;
}

address > a{
    font-size: 15px;
    color: #aaaaaa;
}
address > a:hover{
    color: #adfd82;
    text-decoration: none;
}

/*responsiv*/

@media (max-width: 768px){ 
    .navbar-transparent{
        padding-top: 0px;
/*        background-color: rgba(0,0,0,0.8);
*/        }
    .navbar-collapse{
            text-align: center;
        }
    .dropdown-menu > li > a{
            text-align: center;
            color: #FFFFFF;
            opacity: 0.9;
        }

    .dropdown-menu > li > a:hover{
        background:#02b4a8; 
        color:#ffffff;
    }

    .navbar-nav > li > a {
        font-size: 15px;
        }

/*style navigasi dan content*/
    .nav-pills{
/*        border-bottom: 1px solid #02b4a8;
*/        margin-bottom: 20px;

    }
    .bg-content{
        min-height: 300px;
        min-width: 100%;
        background: #ffffff;
        border-left: none;
        padding: 0px;
    }
    .content{
        min-height: 250px;
        /*background: red;*/
        margin-bottom: 20px;
    }
}
